body {
    background-color: rgb(7, 20, 34);
    margin: 0 0 0 0;
}

.background-image {
    background-image: url(water.jpg);
    background-size: contain;
    background-attachment: fixed;
    height:100vh;
    background-repeat: no-repeat;
}
.icon-container {
    display: flex;
    left: 0;
    height: 35vh;
    width: 33vw;
    align-items: flex-end;
}

.icon-box {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 20vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    padding-left: 1.5vw;
    height:15vh;
    margin-left: 26vw;
    margin-top: -25vh;
    margin-bottom: 12vh;
}

.header {
    display: flex;
    align-items: center;
    font-size: 5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    margin-left: 10vw;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 3vh;
    margin-left: 5vw;
}

.words {
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6.5vh;
    color: azure;
    padding-right: 0.2vw;
    padding-top: 3vh;
    padding-left: 5.5vw;
}

.icon {
    display: flex;
    width:20%;
    height:100%;
    background-image: url(waterdrop.png);
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 65%;
}

.image-property {
    position: fixed;
    left: 0px;
    bottom: 0px;
    opacity: 30%;
    font-size: 14px;
    color: white;
}

.form-container {
    display:flex;
    height:30vh;
    justify-content: right;
    align-items: left;
    margin-bottom: 5vh;

}

.signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:135.5vh;
    height:30vh;
    grid-gap: 0vh;
    background-color: rgb(11, 29, 48);
    color: white;
    box-shadow: 1px 10px 10px black;
}

.form-row,
.form-row2 {
    padding: 20px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh; 
}

.form-row {
    padding-right: 0;
    padding-left: 6vw;
    width: 30vw;
    align-items: left;
}

.form-row2 {
    padding-left: 0;
    align-items: left;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'],
.form-row2 input[type='text'],
.form-row2 input[type='email'],
.form-row2 input[type='password'] {
    background-color: azure;
    border: 1px solid azure;
    border-radius: 3px;
    width: 20vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    box-shadow: 1px 5px 5px #407FC7;
}
/*
.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='password']:invalid,
.form-row2 input[type='text']:invalid,
.form-row2 input[type='email']:invalid,
.form-row2 input[type='password']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}
*/
button {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(30, 61, 107);
    color: azure;
    padding: 24px 48px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

div .button {
    display: flex;
    justify-content: center;
    margin-right: 13vw;
    padding-top: 10vh;
}

button:hover {
    background-color: rgb(78, 107, 170);
}

button:active {
    background-color: #407FC7;
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46.5vw;
    height: 10vh;
    padding-top:6vh;
    margin-left: 26.7vw;
}

.signin {
    display: flex;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    font-size: 2vh;
}